/* Colors:  Location: #eaeaea   Menu box #f6f6f6  
   purple: #9356DC   Pink: #FF79DA  LGreen #99E2D0


*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
	margin: 0;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	display: flex;
	align-items: center;
}
.hideMe {
	-webkit-animation: cssAnimation 1s forwards;
	animation: cssAnimation 1s forwards;
}
@keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
@-webkit-keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
.block-screen {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .7);
}
.obj {
	width: 7px;
	height: 0px;
	background: #9356DC;
	margin: 0 4px;
	border-radius: 10px;
	animation: loading 1.5s infinite;
	box-shadow: 0px 0px 1px 2px #99E2D0;
}
.obj:nth-child(2) {
	animation-delay: 0.1s;
}
.obj:nth-child(3) {
	animation-delay: 0.2s;
}
.obj:nth-child(4) {
	animation-delay: 0.3s;
}
.obj:nth-child(5) {
	animation-delay: 0.4s;
}
.obj:nth-child(6) {
	animation-delay: 0.5s;
}
.obj:nth-child(7) {
	animation-delay: 0.6s;
}
.obj:nth-child(8) {
	animation-delay: 0.7s;
}
@keyframes loading {
	0% {
		height: 0%;
	}
	50% {
		background-color: #FF79DA;
		height: 40px;
	}
	100% {
		background-color: #99E2D0;
		height: 0;
	}
}
.header {
	padding: 1rem;
	background: white;
	box-shadow: 0 3px 10px -6px rgba(0, 0, 0, .5);
    position: relative;
}
.header img {
	display: block;
    padding-top: 5px;
	margin: 0 auto;
	height: 2rem;
	width: auto;
}
.location {
	text-align: center;
	font-weight: 600;
	padding: 1rem;
    font-size: 15px;
	background: #eaeaea;
    color: darkslategray;
}
.map-icon-format {
	color: darkslategray;
	align-items: center;
	padding-right: 1.4rem;
}
.main-menu-and-how-it-works-container{
    display: flex;
    flex-direction: column;
}
.main-menu-top {
    padding: 2.5rem 2.25rem;
	background: #f6f6f6;
	text-align: center;

}
.main-menu-top-title{
    font-size: 20px;
    font-weight: 900;
}
.main-menu-top-content{
    padding: 1.5rem 0;
    color: darkslategray;
}
.explore-button {
	padding: 1rem 1.9rem;
	margin: .85rem 0;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	border: none;
	border-radius: 50px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
 
}
.how-it-works-container {
	display: flex;
	flex-direction: column;
	margin: 0rem .7rem 0rem 2rem;
	align-items: center;
    
}
.how-it-works-title{
    margin: 3rem 1rem 1.25rem 1.5rem;
    font-size: 23px;
    font-weight: 600;
}
.how-it-works-button {
	width: 95%;
	height: 75px;
	border: none;
	background: #f2f2f2;
	margin-bottom: 1rem;
	border-radius: 15px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	text-align: left;
    font-size: 14px;
	padding: 1.3rem 1rem .7rem 1rem;
    margin: .66rem 0;
    font-weight: 600;
}
.how-it-works-button-pink {
	width: 95%;
	height: 75px;
	border: none;
	background: #F5EDFF;
	margin-bottom: 1rem;
	border-radius: 15px;
    font-size: 14px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	text-align: left;
	padding: 1.3rem 1rem .7rem 1rem;
    margin: .75rem 0 0 0;
    font-weight: 600;
}
.how-it-works-button-pink .how-it-works-icon-format{
    color: #9356DC;
}

.how-it-works-icon-format {
	color: dimgray;
    font-size: 18px;
	align-items: center;
    padding: 0 1.25rem;
}
.button-numbers {
	position: absolute;
	margin-left: -27px;
	margin-top: -5px;
	color: #9356DC;
	font-size: 1.5rem;
}
.button-numbers-text {
	position: absolute;
	margin-left: -19px;
	font-weight: 100;
    font-size: 15px;
	color: white;
}
.restaurants-container {
    margin-top: 4rem;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	padding-bottom: 3rem;
}
.restaurants-title {
	padding: 3.5rem 1rem 1rem 1.5rem;
    font-size: 24px;
    font-weight: 700;
}
.restaurants-listings {
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	border-radius: 25px;
	overflow: hidden;
	text-decoration: none;
	color: black;
    min-width: 20%;
	margin: 0rem 1rem 1rem 1.5rem;
}
.restaurants-listings-crop {
	height: 10rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
    object-position:bottom;
}
.restaurants-listings-crop-center {
	height: 10rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
    object-position: 20% 60%  ;
}
.restaurants-listings-title {
	margin: 1rem 1rem 0.5rem 1rem;
    font-size: 22px;
    font-weight: 600;
}
.restaurants-listings-description {
	margin: 0 1rem 1rem 1rem;
    font-size: 22px;
}
.restaurants-listings a {
	text-decoration: none;
	color: black;
}
.restaurants-listings-heart {
    color: transparent;
    position: relative;
    float: right;
    padding: 0 1rem;
    font-size: 25px;
    -webkit-text-stroke: 1px darkslategray ;
    transition: color 0.5s ease-in;
}
.restaurants-listings-heart:hover {
    color: #9356DC;
    -webkit-text-stroke: 1px #9356DC;
}

.footer-style {
	color: #eaeaea;
	background: #353535;
	padding: 1.75rem 1.5rem;
    line-height: 27px;
}
.footer-logo{
    -webkit-filter: invert(1);
    height: 10%;
    width: 30%;
    padding: 0.4rem 0rem .4rem 0rem;
}
.footer-icon{
    padding: 0 .6rem 0 0;
    font-size: 11px
}

.footer-icon-fork{
    font-size: 12px;
    padding: 0 .8rem 0 0;
    
}

/* Restaurant Menu Styling */
.menu-background-image img{
	max-height: 18rem;
}

.menu-background-image img {
	height: 17rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
    position: relative;
    object-position:center;
    z-index: -1;
}
.menu-container {
	background-color: #f6f6f6;
	border-radius: 40px 40px 0 0;
	margin-top: -55px;
    
}
.restaurant-title {
	padding: 1.75rem 1rem .5rem 1.5rem;
	font-size: 28px;
    font-weight: 500;
    font-family: 'Shrikhand', cursive;
}

.menu-heart{
    color: transparent;
    position: relative;
    float: right;
    margin-top: 8px;
    padding: 0 1.5rem;
    font-size: 22px;
    -webkit-text-stroke: 1px black ;
    transition: color 0.5s ease-in;
}
.menu-heart:hover{
    cursor: pointer;
    color: #9356DC;
    -webkit-text-stroke: 1px #9356DC;
}

.menu-categories-title {
	padding: 1.25rem 1rem 1.25rem 1rem;
}
.menu-categories-title-underline {
	border-top: 3px solid #99E2D0;
	width: 50px;
    margin: -15px 0 1.2rem 1rem;
}
.menu-categories-container {
	display: flex;
	flex-direction: column;
}
.container {
    margin:.75rem 1rem;
	align-items: stretch;
	display: flex;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 3px 15px -8px rgba(0, 0, 0, .5);
	animation: 1s fadeIn ease-out;
	animation-fill-mode: backwards;
	animation-delay: 1s;
    
}
.container:hover {
    cursor: pointer;
}
.container .content, .container .icon-container {
	padding: .8rem;
}
.container .content {
	background-color: white;
	flex-grow: 1;
	min-width: 0;
	width: 100%;
}
.container .content .title {
	font-weight: 900;
    margin-bottom: 7px;    

}
.container .content .body {
	display: flex;
    font-weight: 100;
    
}
.container .content .body .description {
	flex-grow: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    font-size: 15px;
}
.container .content .body .price {
	font-weight: bold;
	margin-left: 0.5rem;
}
.container .icon-container {
	align-items: center;
	background-color: #99E2D0;
	display: flex;
	justify-content: center;
	width: 2rem;
}
.container .icon-container .icon {
	align-items: center;
	color: #fff;
    font-size: 1.5rem;
	display: flex;
	justify-content: center;
}
/* hide icon by default */

.container .icon-container {
	overflow: hidden;
	padding: 1rem 0;
	width: 0;
}
/* show icon on container hover */

.container:hover .icon-container {
	padding: 0 2rem;
	width: 2rem;
}
/* animate transition */

.container .icon-container {
	-webkit-transition: all 0.55s;
}

.container:hover .slow-spin {
    transition:.5s;
  transform:rotate(360deg);
    
}
.order-button:hover{
    cursor: pointer;
    transform: translateY(-2px);
} 
.order-button {
	padding: 1rem 5rem;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	border: none;
	border-radius: 50px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
    transform: translateY(-15px);
}
.restaurant-menu-order{
    display: flex;
    justify-content: center;
    background: #f6f6f6;
    padding: 3rem 3rem 4rem 3rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 1280px) {
    .main-menu-and-how-it-works-container{
        flex-direction: row;
    }
    .main-menu-top{
         margin-left: 20%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
    }
    .how-it-works-container{
       
        max-width: 600px;
        background: white;
    }
	.restaurants-container {
		display: flex;
		flex: 1;
		flex-direction: row;
		align-items: center;
		padding: 1rem;
	}
	.restaurants-listings {
		height: 20rem;
	}
    
}