/* Colors:  Location: #eaeaea   Menu box #f6f6f6  
   purple: #9356DC   Pink: #FF79DA  LGreen #99E2D0


*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	display: flex;
	align-items: center;
}
.hideMe {
	-webkit-animation: cssAnimation 1s forwards;
	animation: cssAnimation 1s forwards;
}
@keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
@-webkit-keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
.block-screen {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .7);
}
.obj {
	width: 7px;
	height: 0px;
	background: #9356DC;
	margin: 0 4px;
	border-radius: 10px;
	animation: loading 1.5s infinite;
	box-shadow: 0px 0px 1px 2px #99E2D0;
}
.obj:nth-child(2) {
	animation-delay: 0.1s;
}
.obj:nth-child(3) {
	animation-delay: 0.2s;
}
.obj:nth-child(4) {
	animation-delay: 0.3s;
}
.obj:nth-child(5) {
	animation-delay: 0.4s;
}
.obj:nth-child(6) {
	animation-delay: 0.5s;
}
.obj:nth-child(7) {
	animation-delay: 0.6s;
}
.obj:nth-child(8) {
	animation-delay: 0.7s;
}
@keyframes loading {
	0% {
		height: 0%;
	}
	50% {
		background-color: #FF79DA;
		height: 40px;
	}
	100% {
		background-color: #99E2D0;
		height: 0;
	}
}
.header {
	padding: 1rem;
	background: white;
	box-shadow: 0 3px 20px -9px red;
	/*fix this */
}
.header img {
	display: block;
	margin: 0 auto;
	height: 2rem;
	width: auto;
}
.location {
	text-align: center;
	font-weight: 600;
	padding: 1rem;
	font-size: 20px;
	background: #eaeaea;
    color: darkslategray;
}
.map-icon-format {
	color: dimgray;
	align-items: center;
	padding-right: 2rem;
}
.main-menu-top {
    padding: 2rem;
	background: #f6f6f6;
	text-align: center;
    font-size: 22px;
}
.main-menu-top-title{
    font-size: 27px;
    padding: 1rem;
    padding: 2rem 1rem;
    font-weight: 800;
}
.main-menu-top-content{
    color: darkslategray;
}
.explore-button {
	margin: 1rem;
	padding: 1.25rem 2rem;
	font-size: 21px;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	border: none;
	border-radius: 50px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
    margin:2.5rem 0;
}
.how-it-works-container {
	display: flex;
	flex-direction: column;
	margin: 0rem .4rem 2rem 2rem;
	align-items: center;
}
.how-it-works-title{
    margin: 3rem 1.5rem;
    font-size: 33px;
    font-weight: 700;
}
.how-it-works-button {
	width: 100%;
	height: 90px;
	border: none;
	background: #f2f2f2;
	margin-bottom: 1rem;
	border-radius: 25px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	text-align: left;
	padding: 1rem;
    margin: 1.25rem;
    font-size: 22px;
    font-weight: 600;
}

.how-it-works-icon-format {
	color: dimgray;
	align-items: center;
	padding-right: 2rem;
	padding-left: 2rem;
}
.button-numbers {
	position: absolute;
	margin-left: -30px;
	margin-top: -5px;
	color: #9356DC;
	font-size: 33px;
}
.button-numbers-text {
	position: absolute;
	margin-left: -20px;
	font-weight: 100;
	color: white;
}
.restaurants-container {
    margin-top: 4rem;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	padding-bottom: 5rem;
}
.restaurants-title {
	padding: 4rem 1rem 0rem 1.5rem;
    font-size: 33px;
    font-weight: 700;
}
.restaurants-listings {
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	border-radius: 25px;
	overflow: hidden;
	text-decoration: none;
	color: black;
	margin: 0rem 1rem 2rem 1.5rem;
}
.restaurants-listings-crop {
	height: 14rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
    object-position:bottom;
}
.restaurants-listings-crop-center {
	height: 14rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
    object-position: 20% 60%  ;
}
.restaurants-listings-title {
	margin: 1rem 1rem 0.5rem 1rem;
    font-size: 22px;
    font-weight: 600;
}
.restaurants-listings-description {
	margin: 0 1rem 1rem 1rem;
    font-size: 22px;
}
.restaurants-listings a {
	text-decoration: none;
	color: black;
}
.restaurants-listings-heart {
    float: right;
    padding: 0 1rem;
    font-size: 35px;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
}
.restaurants-listings-heart:hover{
    color: red;
}
.footer-style {
	color: #eaeaea;
	background: #353535;
	padding: 1rem;
    font-size: 17px;
    line-height: 28px;
}
.footer-logo{
    -webkit-filter: invert(1);
    height: 10%;
    width: 25%;
    padding: 1rem 0rem 1rem 0rem;
}
.footer-icon{
    padding: 0 1rem 0 0;
    font-size: 13px
}

.footer-icon-fork{
    padding: 0 1.1rem 0 0;
    
}

/* Restaurant Menu Styling */

.background-image {
	background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 14rem;
	max-height: 20rem;
}
.background-image img {
	max-height: 10rem;
}
.menu-container {
	background-color: #f6f6f6;
	border-radius: 45px 25px 0 0;
	margin-top: -50px;
	padding: .5rem;
}
.restaurant-title {
	padding: 1rem .5rem .5rem 1.5rem;
	font-size: 25px;
    font-family: 'Shrikhand', cursive;
}
.icon{
    float: right;
    padding: 0 1rem;
    color: grey;
}
.restaurant-title .icon:hover{
   color: red;
    cursor: pointer;

}

.menu-categories-title {
	padding: .5rem 1.5rem;
}
.menu-categories-title-underline {
	border-top: 2px solid #99E2D0;
	width: 35px;
	margin-top: -3px;
	margin-left: 1.5rem;
}
.menu-categories-container {
	display: flex;
	flex-direction: column;
}
.container {
    margin: 1rem;
	align-items: stretch;
	display: flex;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 0 3px 20px -4px rgba(0, 0, 0, .5);
	animation: 1s fadeIn ease-out;
	animation-fill-mode: backwards;
	animation-delay: 1s;
}
.container:hover {
    cursor: pointer;
}
.container .content, .container .icon-container {
	padding: 1rem;
}
.container .content {
	background-color: white;
	flex-grow: 1;
	min-width: 0;
	width: 100%;
}
.container .content .title {
	font-weight: 900;

}
.container .content .body {
	display: flex;
    font-weight: 100;
}
.container .content .body .description {
	flex-grow: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.container .content .body .price {
	font-weight: bold;
	margin-left: 0.5rem;
}
.container .icon-container {
	align-items: center;
	background-color: #99E2D0;
	display: flex;
	justify-content: center;
	width: 2rem;
}
.container .icon-container .icon {
	align-items: center;
	color: #fff;
    font-size: 1.5rem;
	display: flex;
	justify-content: center;
}
/* hide icon by default */

.container .icon-container {
	overflow: hidden;
	padding: 1rem 0;
	width: 0;
}
/* show icon on container hover */

.container:hover .icon-container {
	padding: 0 2rem;
	width: 2rem;
}
/* animate transition */

.container .icon-container {
	-webkit-transition: all 0.55s;
}

.container:hover .slow-spin {
    transition:.5s;
  transform:rotate(360deg);
    
}


@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 1280px) {
	.restaurants-container {
		display: flex;
		flex: 1;
		flex-direction: row;
		align-items: center;
		padding: 1rem;
	}
	.restaurants-listings {
		height: 20rem;
	}
}