/* Colors:  Location: #eaeaea   Menu box #f6f6f6  
   purple: #9356DC   Pink: #FF79DA  LGreen #99E2D0


*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	display: flex;
	align-items: center;
}

.hideMe {
	-webkit-animation: cssAnimation 1s forwards;
	animation: cssAnimation 1s forwards;
}

@keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}

@-webkit-keyframes cssAnimation {
	100% {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}

.block-screen {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .7);
}

.obj {
	width: 7px;
	height: 0px;
	background: #9356DC;
	margin: 0 4px;
	border-radius: 10px;
	animation: loading 1.5s infinite;
	box-shadow: 0px 0px 1px 2px #99E2D0;
}

.obj:nth-child(2) {
	animation-delay: 0.1s;
}

.obj:nth-child(3) {
	animation-delay: 0.2s;
}

.obj:nth-child(4) {
	animation-delay: 0.3s;
}

.obj:nth-child(5) {
	animation-delay: 0.4s;
}

.obj:nth-child(6) {
	animation-delay: 0.5s;
}

.obj:nth-child(7) {
	animation-delay: 0.6s;
}

.obj:nth-child(8) {
	animation-delay: 0.7s;
}

@keyframes loading {
	0% {
		height: 0%;
	}
	50% {
		background-color: #FF79DA;
		height: 40px;
	}
	100% {
		background-color: #99E2D0;
		height: 0;
	}
}

.header {
	padding: 1rem;
	background: white;
	box-shadow: 0 3px 10px -6px rgba(0, 0, 0, .5);
	position: relative;
}

.header img {
	display: block;
	padding-top: 3px;
	margin: 0 auto;
	height: 2rem;
	width: auto;
}

.header-back-arrow {
	position: absolute;
	margin: .5rem;
	font-size: 18px;
	color: darkslategray;
}

.location {
	text-align: center;
	font-weight: 600;
	padding: 1rem 3rem 1rem 1rem;
	font-size: 16px;
	background: #eaeaea;
	color: darkslategray;
    font-weight: 700;
}

.map-icon-format {
	color: darkslategray;
	align-items: center;
	padding-right: 1rem;
}

.main-menu-and-how-it-works-container {
	display: flex;
	flex-direction: column;
}

.main-menu-top {
	padding: 2.2rem 1rem;
	background: #f6f6f6;
	text-align: center;
	color: black;
}

.main-menu-top-title {
	font-size: 24px;
	font-weight: 900;
    margin-left: -10px;
}

.main-menu-top-content {
	padding: 1.4rem 1rem 1.4rem 1.4rem;
	color: darkslategray;
    font-size: 18px;
    font-weight: 300;
}

.explore-button {
	padding: 1rem 1.7rem;
	margin: .4rem 0 1.3rem .4rem;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	border: none;
	border-radius: 50px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	cursor: pointer;
    font-size: 16px;
}

.how-it-works-container {
	display: flex;
	flex-direction: column;
	margin: 0rem .7rem 0rem 1.5rem;
	align-items: center;
}

.how-it-works-title {
	margin: 2.9rem 1rem 1.25rem 1.25rem;
	font-size: 24px;
	font-weight: 900;
}

.how-it-works-button {
    display: flex;
	width: 95%;
	height: 72px;
	border: none;
	background: #f2f2f2;
	border-radius: 20px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
    align-items: center;
	font-size: 16px;
    font-weight: 500;
	margin: .73rem 0;
	font-weight: 600;
	cursor: pointer;
}

.how-it-works-button-pink {
    display: flex;
	width: 95%;
	height: 72px;
	border: none;
	background: #F5EDFF;
	border-radius: 20px;
	font-size: 16px;
    font-weight: 500;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
    align-items: center;
	margin: .9rem 0 .2rem 0;
	font-weight: 600;
	cursor: pointer;
}

.how-it-works-button-pink .how-it-works-icon-format-food {
	color: #9356DC;
}
.how-it-works-icon-format-phone {
	color: dimgray;
	font-size: 18px;
	align-items: center;
	padding: 0 2rem;
}
.how-it-works-icon-format-list {
	color: dimgray;
	font-size: 18px;
	align-items: center;
	padding: 0 1.5rem 0 2rem;
}
.how-it-works-icon-format-food {
	color: dimgray;
	font-size: 18px;
	align-items: center;
	padding: 0 1.3rem 0 2rem;
}
.button-numbers {
	position: absolute;
	margin-left: -12px;
	margin-top: 4px;
	color: #9356DC;
	font-size: 1.5rem;
}

.button-numbers-text {
	position: absolute;
	margin-left: -4px;
    margin-top: 5px;
	font-weight: 700;
	font-size: 13px;
	color: white;
}

.restaurants-container {
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	padding-bottom: 3rem;
}

.restaurants-title {
	margin-top: 4rem;
	display: flex;
	padding: 3.4rem 1rem 1.3rem 1.3rem;
	font-size: 24px;
	font-weight: 900;
	background: #f2f2f2;
}

.restaurants-listings {
	display: flex;
	flex-direction: column;
    background: white;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	border-radius: 15px;
	overflow: hidden;
	text-decoration: none;
	color: black;
	min-width: 20%;
	margin: 0rem 1.3rem 1.3rem 1.3rem;
}

.restaurants-listings-crop {
	height: 10.9rem;
	object-fit: cover;
	width: 102%;
	max-height: 100%;
	object-position: bottom;
}

.restaurants-listings-crop-center {
	height: 10.9rem;
	object-fit: cover;
	width: 102%;
	max-height: 100%;
	object-position: 20% 61%;
}

.restaurants-listings-title {
	margin: .7rem .5rem 0rem .75rem;
	font-size: 18px;
	font-weight: 600;
}

.restaurants-listings-description {
	margin: 0 1rem 1rem .7rem;
	font-size: 17px;
}

.restaurants-listings a {
	text-decoration: none;
	color: black;
}

.restaurant-image-new-wrapper {
	position: relative;
}

.restaurants-new-box {
	position: absolute;
	right: 0;
	top: 0;
	margin: .8rem .65rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.8rem;
	width: 5rem;
	font-size: 14px;
	font-weight: 500;
	color: #139273;
	border-radius: 2px;
	background: #99E2D0;
}

.restaurants-listings-heart {
	color: transparent;
	position: relative;
	float: right;
	padding: 0 1rem;
    transform: translateY(5px);
	font-size: 21px;
	-webkit-text-stroke: 1px black;
	transition: color 0.5s ease-in;
}

.restaurants-listings-heart:hover {
	color: #9356DC;
	-webkit-text-stroke: 1px #9356DC;
}

.footer-style {
	color: white;
	background: #353535;
	padding: 1.7rem 1.5rem;
	line-height: 27px;
}

.footer-logo {
	-webkit-filter: invert(1);
	height: 10%;
	width: 30%;
	max-width: 300px;
	padding: 0 0 .5rem 0;
}

.footer-icon {
	padding: 0 .6rem 0 0;
	font-size: 11px
}

.footer-icon-fork {
	font-size: 12px;
	padding: 0 .8rem 0 0;
}


/* Restaurant Menu Styling */

.menu-background-image img {
	max-height: 18rem;
}

.menu-background-image img {
	height: 17rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	position: relative;
	object-position: center;
	z-index: -1;
}

.menu-container {
	background-color: #f6f6f6;
	border-radius: 40px 40px 0 0;
	margin-top: -55px;
}

.restaurant-title {
	padding: 1.75rem 1rem .5rem 1.5rem;
	font-size: 28px;
	font-weight: 500;
	font-family: 'Shrikhand', cursive;
}

.menu-heart {
	color: transparent;
	position: relative;
	float: right;
	margin-top: 8px;
	padding: 0 1.5rem;
	font-size: 22px;
	-webkit-text-stroke: 1px black;
	transition: color 0.5s ease-in;
}

.menu-heart:hover {
	cursor: pointer;
	color: #9356DC;
	-webkit-text-stroke: 1px #9356DC;
}

.menu-categories-title {
	padding: 1.25rem 1rem 1.25rem 1rem;
}

.menu-categories-title-underline {
	border-top: 3px solid #99E2D0;
	width: 50px;
	margin: -15px 0 1.2rem 1rem;
}

.menu-categories-container {
	display: flex;
	flex-direction: column;
}

.container {
	margin: .75rem 1rem;
	align-items: stretch;
	display: flex;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 3px 15px -8px rgba(0, 0, 0, .5);
	animation: 1s fadeIn ease-out;
	animation-fill-mode: backwards;
	animation-delay: 1s;
}

.container:hover {
	cursor: pointer;
}

.container .content,
.container .icon-container {
	padding: .8rem;
}

.container .content {
	background-color: white;
	flex-grow: 1;
	min-width: 0;
	width: 100%;
}

.container .content .title {
	font-weight: bold;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 3px;
}

.container .content .body {
	display: flex;
	font-weight: 100;
}

.container .content .body .description {
	flex-grow: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
}

.container .content .body .price {
	font-weight: bold;
	margin-left: 0.5rem;
}

.container .icon-container {
	align-items: center;
	background-color: #99E2D0;
	display: flex;
	justify-content: center;
	width: 2rem;
}

.icon {
	align-items: center;
	color: #fff;
    font-size: 13px;
	display: flex;
	justify-content: center;
}

/* hide icon by default */

.container .icon-container {
	overflow: hidden;
	padding: .75rem 0;
    width: 0;
	
}


/* show icon on container hover */

.container:hover .icon-container {
	padding: 0 2rem;
	width: 2rem;
}


/* animate transition */

.container .icon-container {
	-webkit-transition: all 0.55s;
}

.container:hover .slow-spin {
	transition: .5s;
	transform: rotate(360deg);
}

.order-button:hover {
	cursor: pointer;
}

.order-button {
	padding: 1rem 5rem;
	color: white;
	background: linear-gradient(#FF79DA, #9356DC);
	border: none;
	border-radius: 50px;
	box-shadow: 0 3px 20px -9px rgba(0, 0, 0, .5);
	transform: translateY(-15px);
}

.restaurant-menu-order {
	display: flex;
	justify-content: center;
	background: #f6f6f6;
	padding: 3rem 3rem 4rem 3rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 600px) {
	.restaurants-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		flex: 1;
		flex-direction: row;
		align-items: center;
		padding: 1rem;
		margin-top: auto;
	}
}

@media (min-width: 1100px) {
	.main-menu-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: white;
	}
	.how-it-works-title {
		margin: auto;
	}
	.how-it-works-container {
		flex-direction: row;
		background: white;
		padding: 2rem;
	}
	.how-it-works-button,
	.how-it-works-button-pink {
		margin: 1rem;
	}
	.restaurants-title {
		justify-content: center;
		border-radius: 25px 25px 0 0;
	}
	.restaurants-container {
		display: flex;
		flex: 1;
		flex-direction: row;
		align-items: center;
		padding: 1rem;
		margin-top: auto;
	}
	.restaurants-listings {
		height: 20rem;
	}
}